In [1]:
import pandas as pd

In [2]:
!ls

001_repaso_python.ipynb          NYC.csv
002_repaso_algoritmos.ipynb      NYC.csv.zip
003_kNN.ipynb                    README.md
004_codificadores.ipynb          Salary_Data.csv.xls
005_multicolinealidad.ipynb      TSLA.csv.xls
006_prediccion_stocks.ipynb      bloodpress.txt
007_clasificacion_imagenes.ipynb iris_ds.csv
008_regresion_logistica.ipynb    test.csv
009_caras.ipynb                  train.csv
010_regresion.ipynb              winequaality-red.csv

In [3]:
df = pd.read_csv('./NYC.csv')
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [4]:
df = df.drop(columns=['id', 'dropoff_datetime', 'store_and_fwd_flag'])
df.head()

,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
0,2,2016-03-14 17:24:55,1,-73.982155,40.767937,-73.964630,40.765602,455
1,1,2016-06-12 00:43:35,1,-73.980415,40.738564,-73.999481,40.731152,663
2,2,2016-01-19 11:35:24,1,-73.979027,40.763939,-74.005333,40.710087,2124
3,2,2016-04-06 19:32:31,1,-74.010040,40.719971,-74.012268,40.706718,429
4,2,2016-03-26 13:30:55,1,-73.973053,40.793209,-73.972923,40.782520,435

In [7]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

In [8]:
df['pickup_year'] = df['pickup_datetime'].dt.year

In [9]:
df['pickup_month'] = df['pickup_datetime'].dt.month
df['pickup_day'] = df['pickup_datetime'].dt.day
df['pickup_hour'] = df['pickup_datetime'].dt.hour
df['pickup_minute'] = df['pickup_datetime'].dt.minute
df['pickup_second'] = df['pickup_datetime'].dt.second

In [10]:
df = df.drop(columns=['pickup_datetime'])
df.head()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration,pickup_year,pickup_month,pickup_day,pickup_hour,pickup_minute,pickup_second
0,2,1,-73.982155,40.767937,-73.964630,40.765602,455,2016,3,14,17,24,55
1,1,1,-73.980415,40.738564,-73.999481,40.731152,663,2016,6,12,0,43,35
2,2,1,-73.979027,40.763939,-74.005333,40.710087,2124,2016,1,19,11,35,24
3,2,1,-74.010040,40.719971,-74.012268,40.706718,429,2016,4,6,19,32,31
4,2,1,-73.973053,40.793209,-73.972923,40.782520,435,2016,3,26,13,30,55

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
y = df['trip_duration'].to_numpy()
X = df.drop(columns=['trip_duration']).to_numpy()

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [23]:
X_train.shape, y_train.shape

((1166915, 12), (1166915,))

In [54]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR

In [55]:
#tree = DecisionTreeRegressor(max_depth=3)
svr = SVR(kernel='poly')
#svr = SVR(kernel='rbf')

In [ ]:
#tree.fit(X_train, y_train)
svr.fit(X_train, y_train)

In [51]:
from sklearn.metrics import mean_squared_error

In [52]:
#y_pred = tree.predict(X_test)
y_pred = svr.predict(X_test)

In [53]:
mean_squared_error(y_test, y_pred)

np.float64(9157305.92162947)